<div  class="container-fluid">  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">University App</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a routerLink="create-faculty">Faculty</a></li>
        <li><a routerLink="create-student">Student</a></li>
        <li><a routerLink="create-teacher">Dosen</a></li>
        <li><a routerLink="choose-detail-lesson">Choose Lesson</a></li>
      </ul>
    </div>
  </nav>  
      <router-outlet></router-outlet>  
  </div>  