<div class="row">
    <div class="col-sm-4">
        <div class="container-fluid">
            <div class="panel panel-default">

                <!--insert-->
                <div class="panel-body" *ngIf="selectedIdStudent==0">
                    <form [formGroup]="form">
                        <div class="form-group">
                          <label for="name">Name:</label>
                          <input type="name" class="form-control" formControlName="student_name" id="name">
                        </div>
                        <div class="form-group">
                          <label for="email">Email:</label>
                          <input type="email" class="form-control" formControlName="student_email" id="email">
                        </div>
                        <div class="form-group">
                            <label for="branch">Branch:</label>
                            <select name="branch" id="branch" formControlName="student_branch" class="form-control">
                                <option value="0">--Choose Option--</option>
                                <option value="MAN">MAN</option>
                                <option value="SMA">SMA</option>
                                <option value="SMK">SMK</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="semster">Semester:</label>
                            <select name="semester" class="form-control" formControlName="student_current_semester">
                                <option value="0">--Choose Option--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="faculty">Faculty:</label>
                            <select name="student_faculty" formControlName="student_faculty_id" id="faculty" class="form-control">
                                <option value="0">--Choose Option--</option>
                                <option *ngFor="let faculty of listFaculty" [value]="faculty.faculty_id">{{faculty.faculty_name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="phonenumber">Phone Number:</label>
                            <input type="text" class="form-control" formControlName="student_phone_number" id="phoneNumber"/>
                        </div>
                        <div class="form-group">
                            <label for="dob">Date Of Birth:</label>
                            <!--insert-->
                            <div class="input-group" *ngIf="selectedIdStudent==0">
                             <input 
                            type="text" 
                            formControlName="student_date_of_birth"
                            class="form-control" 
                            placeholder="yyyy-MM-dd" 
                             id="dob"
                             [(ngModel)]="model"
                             ngbDatepicker
                             #d="ngbDatepicker"
                             />
                             <span class="input-group-addon" (click)="d.toggle()">
                                  <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                            </div>
                        </div>
                        <button type="button" (click)="onSave()" class="btn btn-success">Create Student</button>
                    </form>
                </div>

                <!--update-->
                <div class="panel-body" *ngIf="selectedIdStudent!=0">
                    <form [formGroup]="form">
                        <!--if edit-->
                        <div class="form-group" *ngIf="selectedIdStudent != 0">
                            <label for="name">ID:</label>
                            <input type="name" formControlName="student_id"
                            value="{{selectedIdStudent}}" class="form-control" 
                            id="id">
                          </div>
                        <!--if edit-->
                        <div class="form-group">
                          <label for="name">Name:</label>
                          <input type="name" class="form-control" formControlName="student_name" id="name">
                        </div>
                        <div class="form-group">
                          <label for="email">Email:</label>
                          <input type="email" class="form-control" formControlName="student_email" id="email">
                        </div>
                        <div class="form-group">
                            <label for="branch">Branch:</label>
                            <select name="branch" id="branch"
                            formControlName="student_branch"
                            class="form-control">
                                <option value="0">--Choose Option--</option>
                                <option value="MAN">MAN</option>
                                <option value="SMA">SMA</option>
                                <option value="SMK">SMK</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="faculty">Faculty:</label>
                            <select id="student_faculty"
                            formControlName="student_faculty_id"
                             class="form-control">
                                <option *ngFor="let faculty of listFaculty" 
                                [value]="faculty.faculty_id">
                                    {{faculty.faculty_name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="phonenumber">Phone Number:</label>
                            <input type="text" class="form-control" 
                            formControlName="student_phone_number"
                            id="phoneNumber"/>
                        </div>
                        <div class="form-group">
                            <label for="dob">Date Of Birth:</label>
                            <!--update-->
                            <div class="input-group" *ngIf="selectedIdStudent!=0">
                                <input 
                               type="text" 
                               class="form-control" 
                               placeholder="yyyy-MM-dd"
                               [(ngModel)]="model" 
                               [ngModelOptions]="{standalone: true}"
                               value="{{currentBirthDateSelected | date: 'yyyy-MM-dd'}}"
                                id="dob"
                                ngbDatepicker
                                #d="ngbDatepicker"
                                />
                                <span class="input-group-addon" (click)="d.toggle()">
                                     <i class="glyphicon glyphicon-calendar"></i>
                               </span>
                               </div>
                        </div>
                        <button type="button" (click)="onUpdate()" class="btn btn-success">Update Student</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <app-list-student (onSelectedIdStudent)="detailIdStudent($event)"></app-list-student>
</div>

